<div class="carousel carousel-slider center" data-indicators="true" style="height:95vh;">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2" href="#image-test">EXPLORE</a>
  </div>
  <div class="carousel-item red white-text" href="#one!" style="background: url('https://s3-us-west-1.amazonaws.com/hackthon-likelion/asset/hollywood.jpg'); background-size:100%;	filter: grayscale(50%);">
    <!-- <h2>Hollywood</h2> -->
  </div>
  <div class="carousel-item amber white-text" href="#two!" style="background: url('https://s3-us-west-1.amazonaws.com/hackthon-likelion/asset/dodgers.jpg'); background-size:100%;">
    <!-- <h2>Dodger Stadium</h2> -->
  </div>
  <div class="carousel-item green white-text" href="#three!" style="background: url('https://s3-us-west-1.amazonaws.com/hackthon-likelion/asset/lacma.jpg'); background-size:100%;">
    <!-- <h2>Los Angeles County Museum of Art</h2> -->
  </div>
  <div class="carousel-item blue white-text" href="#four!" style="background: url('https://s3-us-west-1.amazonaws.com/hackthon-likelion/asset/getty.jpg'); background-size:100%;">
    <!-- <h2>Getty Center</h2> -->
  </div>
</div>

<div class="main" style="
    position: absolute;
    top: 30vh;
    left: 10vw;
    color: #e0f7fa;">
  <h1 style="font-size: 7rem;"> Los Angeles </h1>
</div>





<div style="height:100vh;">
    <img id="image-test" src="https://s3-us-west-1.amazonaws.com/hackthon-likelion/asset/ucla-02+(1).png" style="max-height:100%;">
    <a href="/home/hollywood" style="position: absolute;top: 110vh;padding: 10vh;left: 250px; color:transparent;"> hollywood </a>
    <a href="/home/getty" style="position: absolute; padding: 10vh; left: 65px; top: 115vh; color:transparent;"> getty </a>
    <a href="/home/dodger" style="position: absolute; padding: 10vh; left: 450px; top: 126vh; color:transparent;"> dodgers </a>
    <a href="/home/lacma" style="position: absolute;padding: 10vh;left: 170px;top: 130vh; color:transparent;"> lacma </a>
    <!-- <a href="#staggered-test" class="waves-effect waves-light btn cyan" style="position: absolute; left: 75%; top: 140vh;"> MORE</a> -->

    <div class="right" style="position: absolute; left: 60%; top: 140vh;">
      <div class="row">
            <div class="col s12 m10">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Top 5 Places to Visit in LA</span>
                  <p>1. Hollywood Walk of Fame and Grauman’s Chinese Theatre</p>
                  <p>2. Knott’s Berry Farm</p>
                  <p>3. Santa Monica Pier</p>
                  <p>4. Griffith Observatory</p>
                  <p>5. Universal Studios</p>
                </div>
              </div>
            </div>
      </div>
        <a href="#staggered-test" class="waves-effect waves-light btn cyan" style="position: absolute; left: 75%; top: 20vh;"> MORE</a>
    </div>

</div>
<div class="row" style="height:100vh; background: url('https://s3-us-west-1.amazonaws.com/hackthon-likelion/asset/background.png') no-repeat fixed center ; background-size:100%; margin-bottom:0;">

<ul id="staggered-test">
  <li>
    <div class="card col m3 center-cards" style="margin: 10vh 3% 8vh 5%;">
        <div class="card-content">
           <h3>LA Fun Facts</h3>
        </div>
    </div>
  </li>
  <li>
    <div class="card col m3 center-cards" style="margin: 10vh 3% 1vh;">
        <div class="card-content">
            <p>1. When L.A. was founded, the city’s full name was “El Pueblo de Nuestra Senora Reina de los Angeles sobre el Rio Porciuncula.</p>
        </div>
    </div>
  </li>
  <li>
    <div class="card col m3 center-cards" style="margin: 10vh 3% 5vh ;">
        <div class="card-content">
            <p>2. The Hollywood sign originally said “Hollywoodland.</p>
        </div>
    </div>
  </li>
  <li>
    <div class="card col m3 center-cards" style="margin:12vh 42vw 12vh 2vw">
        <div class="card-content">
            <p>3. If Los Angeles were its own country, its economy would be bigger than Saudi Arabia, Switzerland, and Sweden’s.</p>
        </div>
    </div>
  </li>
  <li>
    <div class="card col m3 center-cards" style="margin: 50vh 5vw 10vh 35vw; position:absolute">
        <div class="card-content">
            <p>4. There are more cars than there are people. No wonder it is impossible to find parking.</p>
        </div>
    </div>
  </li>
  <li>
    <div class="card col m3 center-cards" style="margin: 16vh 3% 10vh 0;">
        <div class="card-content">
           <p>5. Los Angeles has the largest system of roadways in the country: more than 7300 miles in total.</p>
        </div>
    </div>
  </li>
</ul>


</div>





<!-- <script type="text/javascript">
   $('.carousel.carousel-slider').carousel({fullWidth: true});
   function autoplay() {
       $('.carousel').carousel('next');
       setTimeout(autoplay, 5000);
   }
   autoplay();
</script> -->

<script type="text/javascript">
$(document).ready(function() {
    $('.navbar-right:first li').hover(function() {
        $(this).addClass('active');
    });
    $('.navbar-right:first li').mouseleave(function() {
        $(this).removeClass('active');
    });
    $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
    $('.carousel.carousel-slider').carousel({fullWidth: true});
    function autoplay() {
        $('.carousel').carousel('next');
        setTimeout(autoplay, 10000);
    }
    autoplay();
});

    //
    // var options = [
    //         {
    //             selector: '.class',
    //             offset: 200,
    //             callback: customCallbackFunc
    //         }
    //     }, {
    //         selector: '.other-class',
    //         offset: 200,
    //         callback: function () {
    //             customCallbackFunc();
    //         }
    //     }
    //     ];
    // Materialize.scrollFire(options);
    var options = [
          {selector: '#staggered-test', offset: 450, callback: function(el) {
            Materialize.toast("Check this out!", 1500 );
          } },
            {
                selector: '#staggered-test',
                offset: 300,
                callback: function (el) {
                    Materialize.showStaggeredList($(el));
                }
            },
          {selector: '#image-test', offset: 100, callback: function(el) {
            Materialize.fadeInImage($(el));
          } }
        ];
        Materialize.scrollFire(options);
</script>
