<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn" href="/">Home</a></li>
      <li><a href="/home/createform">upload</a></li>
      <li><a href="/home/hollywood">photos</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>
