<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/" class="btn btn-floating pulse"><i class="material-icons right">cloud</i></a></li>
      <li><a href="/home/createform" class="waves-effect waves-light btn">upload <i class="material-icons right">navigation</i></a></li>
      <li><a class="waves-effect waves-light btn" href="/home/hollywood">photos <i class="material-icons right">airplay</i></a></li>
      <% if user_signed_in? %>
        <li><%= link_to('My Account', edit_user_registration_path) %></li>
        <li><a href="/users/sign_out">Log Out</a></li>
      <% else %>
        <li><%= link_to('Sign in', new_user_session_path) %></li>
        <li><%= link_to('Sign up', new_user_registration_path) %></li>
      <% end %>
    </ul>
  </div>
</nav>
